.Imagem{
    width: 80px!important;
    height: 60px!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}
.titulo{
    font-size: 10px;
    color: rgb(146, 83, 204);
    margin-bottom: 7px;
    text-align: center;
}
.secao__banner{
    display: none;
}
.titulogrid{
    background-color: var(--roxo-degrade);
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}
@media screen and (min-width: 1024px) {
    .titulogrid{
        background-color: var(--roxo-degrade);
        text-align: center;
        font-size: 15px;
        margin-top: 5px;
    }
}
.gridimg{
    background-color: blueviolet;
}
.titulo{
    font-size: 30px;
    color: blueviolet;
}
.secao__banner{
    width: 100%;
    display: block;
}